body{
    background-color: black;
    
}

button{
    font-size: 50px;
    box-shadow: 0 0 5px purple,
    0 0 25px purple;
}
button:hover{
    box-shadow: 0 0 5px purple,
    0 0 25px purple, 0 0 50px purple, 0 0 100px purple,
    0 0 250px purple;
}  
img{
  width: 450px;
        border-radius: 10px;
        float: center;
        margin-right: 45px;
        border-style: double;
        clip-path: circle(40%);
        object-fit: cover;
        box-shadow: inset;
}
p.username{
          font-weight: bold;
        color: white;
}
p.address{
        color: white;
        font-style: italic;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
}   